# Base de données PostgreSQL
POSTGRES_USER=fastfood_user
POSTGRES_PASSWORD=CHANGEZ_MOI
POSTGRES_DB=fastfood_db
DATABASE_URL=postgresql://fastfood_user:CHANGEZ_MOI@postgres:5432/fastfood_db

# Backend API
PORT=3000
JWT_SECRET=GENERER_SECRET_ALEATOIRE_64_CARACTERES
NODE_ENV=production

# Frontend
VITE_API_URL=http://localhost:3000
