# Database - Modifier selon votre configuration PostgreSQL locale
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fastfood_db?schema=public"

# Server
PORT=3000
HOST=0.0.0.0

# Environment
NODE_ENV=development
